@mixin reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin d-flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin d-flex-end {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

@mixin background-cover{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}