$white: #ffffff;
$black: #000000;
$red-light: #cc2832;
$red: #b01116;
$red-dark: #611e29;
$yellow: #fec941;
$orange: #cc8816;
$grey-dark: #212529;
$scrollbar-track: #e1e1e1;
$scrollbar-thumb: #b9b9b9;
$grey_f3: #f3f3f3;
$grey_c5: #c5c5c5;
$grey_d3: #d3d3d3;
$grey_f8: #f8f9fa;
$grey_2e: #2e2e2e;
$grey_70: #707070;
$grey_cc: #cccccc;
$grey_b8: #b8b8b8;
$grey_df: #dfdfdf;
$grey_aa: #aaaaaa;
$grey_61: #616161;
$grey_75: #757575;
$grey_29: #292929;



