@import "./fonts";
@import "./variables";
@import "./mixin";

body {
  font-family: "Poppins";
  padding-top: 3.5rem;
}

ul {
  @include reset-list;
}

.btn {
  @include d-flex-center;
  &-outline-black {
    border-color: $grey-dark;
  }
  &-white {
    background-color: $white;
    color: $grey-dark;
    border: 1px solid;
    border-radius: 4px;
    padding: 5px;
    &:hover {
      background-color: $white;
      color: $grey-dark;
      border: 1px solid;
    }
  }
  &-red {
    border-radius: 5px;
    background: $red-light;
    font-size: 1em;
    color: $white;
    padding: 5px 10px;
    border: 1px solid $red-light;
    &:hover {
      border-color: $white;
      color: $white;
    }
    @media (max-width: 1440px) {
      font-size: 0.875em;
    }
  }
  &-yellow-outline {
    border-color: $yellow;
    color: $yellow;
    &:hover {
      background-color: $yellow;
      color: $black;
    }
  }
}

.m-neg {
  margin-top: -15rem;
  @media (max-width: 767px) {
    margin-top: -8rem;
  }
}

.heading-red {
  font-size: 1.75em;
  font-weight: 600;
  letter-spacing: 0px;
  color: $red-light;
  margin: 0;
  @media (max-width: 1440px) {
    font-size: 1.25em;
  }
}

.link-yellow {
  font-size: 1.25em;
  font-weight: 600;
  color: $orange;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  @media (max-width: 1440px) {
    font-size: 1em;
  }
  @media (max-width: 991px) {
    font-size: 0.875em;
  }
}

.common-scrollbar {
  /* width */
  &::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px $scrollbar-track;
    border-radius: 10px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $scrollbar-thumb;
    border-radius: 10px;
  }
}

.header-top {
  background-color: $grey_f3;
  padding: 15px 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10000;
  &-left {
    .content {
      .title {
        color: $black;
        margin: 0;
        font-size: 0.813em;
        font-weight: normal;
        @media (max-width: 1440px) {
          font-size: 0.75em;
        }
      }
    }
    @media (max-width: 1399.98px) {
      display: none;
    }
  }
  &-right {
    .content {
      ul {
        @include d-flex-end;
        flex-flow: wrap;
        li {
          @media (max-width: 991.98px) {
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3) {
              display: none;
            }
          }
          a {
            font-size: 0.813em;
            font-weight: normal;
            color: $grey-dark;
            text-decoration: none;
            border-right: 1px solid rgba(33, 37, 41, 0.5);
            padding-right: 15px;
            margin-right: 15px;
            &:hover {
              text-decoration: underline;
            }
            @media (max-width: 1440px) {
              font-size: 0.75em;
              padding-right: 10px;
              margin-right: 10px;
            }
            @media (max-width: 991px) {
              padding-right: 5px;
              margin-right: 5px;
              line-height: 3;
            }
          }
          &:nth-child(4) a {
            border-right: 0;
          }
          .text-increment-btn {
            @include d-flex-center;
            background: $white;
            color: $grey-dark;
            font-size: 0.75em;
            font-weight: 500;
            border: 1px solid $grey-dark;
            border-radius: 4px;
            width: 24px;
            height: 24px;
            margin-right: 10px;
            transition: all 0.5s ease;
            &:last-child {
              margin-right: 0;
            }
            &:hover,
            &.active {
              background-color: $red-light;
              color: $white;
            }
          }
          .select-wrap {
            display: flex;
            align-items: center;
            .form-select {
              background-image: url("../images/arrow-down.svg");
              background-color: transparent;
              border: none;
              color: $grey-dark;
              cursor: pointer;
              font-size: 0.813em;
              padding: 0 20px 0 5px;
              background-position: right;
              background-size: 12px;
              &:focus {
                box-shadow: none;
              }
              @media (max-width: 1440px) {
                font-size: 0.75em;
                background-size: 10px;
              }
            }
          }
          .theme-wrap {
            .form-switch {
              .form-check-input {
                --bs-form-switch-bg: url(../images/toggle-white.svg);
                background-color: $grey_c5;
                width: 40px;
                height: 20px;
                &:checked {
                  box-shadow: none;
                  border: none;
                  --bs-form-switch-bg: url(../images/toggle-black.svg);
                  background-color: $white;
                }
                &:focus {
                  box-shadow: none;
                  border: none;
                }
              }
            }
          }
          .screen-reader {
            .btn {
              padding: 0;
              width: 24px;
              height: 24px;
              &:hover {
                background-color: $red-light;
                img {
                  filter: invert(1);
                }
              }
            }
          }
        }
      }
    }
  }
}
.site-header {
  box-shadow: 0 4px 10px rgb(0, 0, 0, 0.1);
  top: 55px;
  transition: all 0.2s ease;
  z-index: 10000;
  position: sticky;
  .navbar {
    padding: 10px 0;
    background-color: #ffffff;
    &-brand {
      padding: 0;
      img {
        @media (max-width: 1440px) {
          height: 70px;
        }
        @media (max-width: 767px) {
          height: 50px;
        }
      }
    }
    &-toggler {
      border: none;
      padding: 0;
      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
    &-nav {
      @media (max-width: 1199.98px) {
        border: 1px solid $grey_d3;
        margin-top: 15px;
      }
    }
    .nav-item {
      &:last-child {
        .nav-link {
          padding-right: 0;
        }
      }
      @media (max-width: 1199.98px) {
        border-bottom: 1px solid $grey_d3;
      }
      .dropdown {
        &-toggle {
          display: flex;
          align-items: center;
          &:after {
            border: none;
            background-image: url("../images/arrow-down.svg");
            background-position: center right;
            background-size: cover;
            background-repeat: no-repeat;
            width: 10px;
            height: 10px;
          }
        }
        &-item {
          font-size: 1em;
          font-weight: 500;
          color: $black;
          padding: 8px 10px;
          &:active {
            background-color: $grey_f8;
          }
          @media (max-width: 1440px) {
            font-size: 0.875em;
          }
          @media (max-width: 1199.98px) {
            font-size: 0.75em;
            padding-left: 25px;
            border-top: 1px solid $grey_d3;
          }
        }
        &-menu {
          right: 0;
          left: unset;
          padding: 0;
          border-radius: 0;
          z-index: 10000;
          @media (max-width: 1199.98px) {
            border: none;
          }
        }
        &-submenu {
          position: relative;
          ul {
            li {
              a {
                @media (max-width: 1199.98px) {
                  padding-left: 40px;
                }
              }
            }
          }
          & > .dropdown-menu {
            right: 100%;
            top: 0px;
          }
          &:hover > .dropdown-menu,
          & > a:focus + .dropdown-menu {
            display: block;
          }
        }
      }
    }
    .nav-link {
      font-size: 1em;
      font-weight: 500;
      color: $black;
      padding: 0 30px 0 0;
      &:hover {
        color: $red-light;
      }
      @media (max-width: 1440px) {
        font-size: 0.875em;
        padding: 0 15px 0 0;
      }
      @media (max-width: 1199.98px) {
        padding: 10px !important;
        justify-content: space-between;
      }
    }
    .btn-red {
      border-radius: 50px;
      padding: 10px 15px;
      &:hover {
        border-color: $black;
        color: $black;
      }
    }
  }
}

.news {
  &-wrap {
    background: $black;
  }
  &-title {
    @include d-flex-center;
    background: $red-light;
    font-weight: 600;
    font-size: 1em;
    color: $white;
    padding: 15px 0;
    margin: 0;
    @media (max-width: 991px) {
      font-size: 0.75em;
      padding: 20px 0;
    }
  }
  &-list {
    display: flex;
    align-items: center;
    width: 100%;
    &-wrap {
      display: flex;
      align-items: center;
      @media (max-width: 991.98px) {
        padding: 10px;
      }
      .btn-wrap {
        flex-shrink: 0;
        margin-left: 15px;
      }
    }
    ul {
      display: flex;
      align-items: center;
      li {
        a {
          text-align: left;
          font-size: 0.875em;
          font-weight: normal;
          color: $yellow;
          text-decoration: none;
          margin-right: 30px;
        }
      }
    }
  }
}

.hero-wrap {
  background-image: url("../images/banner-bg.png");
  @include background-cover;
  overflow: hidden;
  .name {
    color: $black;
    margin-bottom: 5px;
    font-size: 0.875em;
    font-weight: 600;
    line-height: 20px;
  }

  .title {
    color: $grey_2e;
    font-size: 0.813em;
    font-weight: 500;
    margin: 0;
    line-height: 20px;
  }
  .director {
    &-wrap {
      border: 1px solid $grey_70;
      padding: 20px;
      text-align: center;
      margin: 4rem 0;
      width: 100%;
      .btn-wrap {
        .btn-red {
          &:hover {
            background-color: $black;
            border-color: $black;
            color: $white;
          }
        }
      }
      @media (max-width: 1440px) {
        margin: 2rem 0;
      }
    }
    &-img {
      margin-bottom: 15px;
      img {
        width: 100%;
      }
    }
  }
  .minister {
    &-wrap {
      margin: 4rem 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      @media (max-width: 1440px) {
        margin: 2rem 0;
      }
    }
    &-content {
      position: relative;
      .name,
      .title {
        position: relative;
        z-index: 1000;
      }
      .img-wrap {
        @include d-flex-end;
        img {
          z-index: 9;
        }
      }
    }
    &-info {
      border: 1px solid $grey_70;
      padding: 30px 15px;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
  .banner-slider,
  .owl-stage,
  .owl-stage-outer,
  .owl-carousel,
  .owl-item,
  .item {
    height: 100%;
  }
  .owl-item {
    img {
      height: 100%;
      object-fit: cover;
      object-position: right;
    }
  }
  .owl-dot {
    &s {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

#common-slider {
  .owl-nav {
    button {
      @include d-flex-center;
      position: absolute;
      top: 50%;
      border-radius: 0;
      width: 25px;
      height: 25px;
      background-color: $white;
      &:hover {
        background-color: $red-light;
        span {
          filter: brightness(10);
        }
      }
      span {
        font-size: 0;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 10px;
        width: 15px;
        height: 15px;
      }
    }
    .owl-prev {
      left: 0;
      span {
        background-image: url("../images/prev.svg");
      }
    }
    .owl-next {
      right: 0;
      span {
        background-image: url("../images/next.svg") !important;
      }
    }
  }
  .owl-dot {
    &s {
      @include d-flex-center;
    }
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: $white;
    margin: 5px;
    &.active {
      background: $red !important;
    }
    span {
      border: 1px solid $grey_70;
      width: 12px;
      height: 12px;
      display: block;
      border-radius: 50%;
    }
  }
}

.achievement {
  &-wrap {
    @include background-cover;
    background-image: url("../images/dotted-bg-achievements.png");
    padding: 5em 0;
    .img-wrap {
      img {
        @media (max-width: 991.98px) {
          width: 100%;
        }
      }
    }
    .card-white {
      border: 1px solid $grey_cc;
      background: $white;
      padding: 20px;
      height: 100%;
      .title {
        color: $black;
        margin: 0;
        font-size: 1em;
        font-weight: 600;
        margin-right: 10px;
        @media (max-width: 1440px) {
          font-size: 0.813em;
        }
      }
      .view-more {
        img {
          height: 15px;
        }
      }
      .list-wrap {
        padding: 0;
        ul {
          height: 300px;
          @media (max-width: 1440px) {
            height: 250px;
          }
          li {
            margin: 0;
            border-top: 1px solid $grey_b8;
            padding: 20px 0;
            .date {
              color: $black;
            }
            .desc {
              color: $black;
            }
          }
        }
      }

      @media (max-width: 1440px) {
        padding: 15px;
      }
      @media (max-width: 991.98px) {
        height: auto;
      }
    }
  }
}

.gallery {
  &-wrap {
    background-image: url("../images/photo-gallery-bg.png");
    @include background-cover;
    padding: 5em 0 20em 0;
    @media (max-width: 767px) {
      padding: 5em 0 10em 0;
    }
    .card {
      &-wrap {
        padding: 40px 20px;
        height: 100%;
        @media (max-width: 991.98px) {
          height: auto;
          padding: 30px 15px;
        }
        .btn-wrap {
          display: flex;
          align-items: center;
          margin-top: 20px;
          .btn-red {
            height: 45px;
            width: max-content;
          }
        }
      }
      &-title {
        color: $grey_df;
        font-size: 1.25em;
        font-weight: 500;
        @media (max-width: 1440px) {
          font-size: 1em;
        }
        @media (max-width: 991px) {
          font-size: 0.875em;
        }
      }
      &-heading {
        color: $white;
        margin: 0 0px 15px 0;
        font-size: 1.5em;
        font-weight: 600;
        @media (max-width: 1440px) {
          font-size: 1.125em;
        }
        @media (max-width: 991px) {
          font-size: 1em;
        }
      }
      &-image {
        margin: 10px 0;
        img {
          border-radius: 10px;
          width: 100%;
        }
      }
      &-red {
        border: 1px solid $yellow;
        background: $red-dark;
        .card-title {
          font-size: 1.25em;
          font-weight: 500;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          white-space: normal;
          overflow: hidden;
          min-height: 60px;
          @media (max-width: 1440px) {
            font-size: 1em;
          }
          @media (max-width: 991.98px) {
            font-size: 0.875em;
          }
        }
      }
      &-black {
        background-color: $grey_29;
        border: 1px solid $grey_75;
        .card-title {
          display: -webkit-box;
          -webkit-line-clamp: 7;
          -webkit-box-orient: vertical;
          white-space: normal;
          overflow: hidden;
        }
      }
    }
  }
  &-slider {
    background: $white;
    padding: 20px;
    border: 1px solid $yellow;
    margin-bottom: 5rem;
    .carousel {
      display: flex;
      &-item {
        height: 100%;
        img {
          height: 100%;
          width: 100%;
          border-radius: 10px;
          object-fit: cover;
          object-position: center;
        }
      }

      &-inner {
        width: 70%;
        @media (max-width: 991px) {
          width: 100%;
        }
      }

      &-indicators {
        width: 30%;
        position: unset;
        margin: unset;
        flex-flow: wrap;
        padding: 0 10px;
        justify-content: flex-start;
        overflow-y: scroll;
        height: 375px;

        button {
          position: relative;
          &:after {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.7);
            border-radius: 10px;
          }
          &.active {
            &::after {
              background-color: transparent;
            }
          }
        }
        & [data-bs-target] {
          width: 100%;
          height: auto;
          margin: 0 0 10px;
          padding: 0;
          box-sizing: unset;
          opacity: 1;
          border-radius: 10px;
          background-color: transparent;
          border: none;
        }

        @media (max-width: 991px) {
          display: none;
        }

        img {
          display: block;
          width: 100%;
          overflow: hidden;
          border-radius: 10px;
        }
      }

      &-control-next,
      &-control-prev {
        width: 30px;
        height: 30px;
        padding: 5px;
        top: 50%;
        background-color: $red;
        opacity: 1;
        span {
          display: block;
        }
      }

      @media (min-width: 992px) {
        &-control-prev,
        &-control-next {
          display: none;
        }
      }
    }
    @media (max-width: 1440px) {
      padding: 15px;
    }
    @media (max-width: 991px) {
      margin-bottom: 1rem;
    }
  }
}

.award-wrap {
  border: 1px solid $grey_61;
  padding: 20px;
  margin-bottom: 5rem;
  background: $grey_29;
  @media (max-width: 1440px) {
    padding: 15px;
  }
  @media (max-width: 991px) {
    margin-bottom: 1rem;
  }
  .nav-tabs {
    border: none;
    .nav-link {
      font-size: 0.875em;
      font-weight: 500;
      border-radius: 0;
      border: 1px solid $grey_aa;
      padding: 8px 15px;
      color: $white;
      &.active {
        background: $red;
        color: $white;
      }
      @media (max-width: 1440px) {
        padding: 8px 10px;
      }
      @media (max-width: 1440px) {
        font-size: 0.75em;
        padding: 5px;
        margin-bottom: 10px;
      }
    }
  }
}

.list-wrap {
  padding-top: 30px;
  ul {
    overflow-y: scroll;
    height: 357px;
    padding-right: 20px;
    li {
      margin-bottom: 20px;
      border-bottom: 1px solid $grey_b8;
      padding-bottom: 20px;
    }
    @media (max-width: 1440px) {
      height: 347px;
    }
  }
  .date {
    font-size: 1em;
    color: $white;
    margin-bottom: 15px;
    display: block;
    @media (max-width: 1440px) {
      font-size: 0.813em;
    }
  }
  .desc {
    color: $grey_df;
    font-size: 1.125em;
    font-weight: 500;
    margin: 0;
    @media (max-width: 1440px) {
      font-size: 0.875em;
    }
  }
}

.eliminator {
  &-wrap {
    background-image: url("../images/dotted-bg.png");
    @include background-cover;
  }
  &-content {
    .heading-wrap {
      @include d-flex-center;
      .heading {
        font-size: 1.75em;
        font-weight: 600;
        color: $white;
        margin: 0;
        padding: 35px 75px;
        position: relative;
        width: max-content;
        &:before {
          content: "";
          border: 1px solid $white;
          width: 61px;
          display: block;
          position: absolute;
          top: 50%;
          left: 0;
          @media (max-width: 991px) {
            width: 31px;
          }
        }
        &:after {
          content: "";
          border: 1px solid $white;
          width: 61px;
          display: block;
          position: absolute;
          top: 50%;
          right: 0;
          @media (max-width: 991px) {
            width: 31px;
          }
        }
        @media (max-width: 1440px) {
          font-size: 1.25em;
        }
        @media (max-width: 991px) {
          font-size: 1em;
          padding: 25px 45px;
        }
      }
    }
  }
  &-video {
    background: $white;
    padding: 40px;
    box-shadow: 0px 3px 6px #00000029;
    @media (max-width: 991px) {
      padding: 15px;
    }
    iframe {
      width: 100%;
      @media (max-width: 767px) {
        height: auto;
      }
    }
  }
}

.client-slider {
  &-content {
    padding: 40px 0;
    display: block;
    img {
      height: 70px;
    }
  }
}

.site-footer {
  &-top {
    background-image: url("../images/footer-top-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px 0;
    box-shadow: 0 5px 0px rgb(0 0 0);
    .footer-links {
      ul {
        @include d-flex-center;
        flex-flow: wrap;
        @media (max-width: 767px) {
          justify-content: flex-start;
        }
        li {
          a {
            font-size: 0.875em;
            font-weight: 500;
            color: rgba(255, 255, 255, 0.9);
            text-decoration: none;
            margin-right: 10px;
            padding-right: 10px;
            border-right: 1px solid rgba(255, 255, 255, 0.9);
          }
          &:last-child {
            a {
              margin-right: 0;
              padding-right: 0;
              border-right: 0;
            }
          }
          @media (max-width: 767px) {
            width: 100%;
          }
        }
      }
    }
  }
  &-middle {
    background-image: url("../images/footer-middle-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 0;
    .copyright-content {
      p {
        color: #ffffff;
        font-size: 0.75em;
        margin: 0;
        strong {
          font-weight: 600;
        }
        a {
          color: #ffffff;
        }
      }
    }
    .img-wrap{
      @media (max-width: 767px) {
        text-align: start !important;
        margin-top: 10px;
      }
    }
  }
  &-bottom {
    background: #cc2832;
    padding: 15px 0;

    .visitor-heading {
      letter-spacing: 0.28px;
      color: #ffffff;
      font-size: 0.875em;
      margin: 0;
      span {
        font-weight: 600;
      }
    }
    .social-links {
      ul {
        @include d-flex-end;
        li {
          &:last-child {
            a {
              margin-right: 0;
            }
          }
          a {
            @include d-flex-center;
            margin-right: 30px;
          }
        }
      }
    }
  }
}
